<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kankan.km.com.manhupro">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/kan_mainicon"
        android:label="@string/app_name"
        android:supportsRtl="true"

        >
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".me.activity.MeFeedBackActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />


        <activity
            android:screenOrientation="portrait"
            android:name=".me.MeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".me.activity.MeUpdateNikeName"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".login.activity.UserLoginActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".login.activity.UserRegisterActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".me.activity.MeNoResoinsebilityActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".main.activity.ManhuaDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".main.activity.ImageStatusActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".me.activity.MeHistoryActitiy"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".main.activity.CreateManhuaAcvitiy"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".tools.tools.AlbumTools.acvitity.ChoosePictureActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity
            android:screenOrientation="portrait"
            android:name=".tools.tools.AlbumTools.acvitity.ImageGridActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            />



    </application>

</manifest>
